<ion-menu [content]="content" >

  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <button ion-item  (click)="openPage2('HelloIonicPage')">Home</button>
      <button ion-item (click)="openPage2('ListPage')">ListPage</button>
      <button ion-item *ngIf="isLoggedIn" (click)="openPage2('ProfilePage')">Profile</button>
      <button ion-item *ngIf="isLoggedIn == false" (click)="openPage2('LoginPage')">Login</button>
      <button ion-item *ngIf="isLoggedIn" (click)="logout()">Logout</button>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
